body {
    margin: 0;
}



h1 {
    font-size: 53px;
}

h2 {
    font-size: 46px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 14px;
}

.todo {
    
}

#fondo-nav-head {
    background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
     url(img/img-ban.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 
}

.barra-nav {
    height: 12vh;
    background-color: rgb(21, 21, 21);
    opacity: 0.8;
    display: flex;
    padding: 0;
    margin: 0;
}

.header {
    height: 83vh;
    padding-left: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: left;
}
#subtitulo h2{
    padding: 0px;
    margin: 0px;
}
.header button {
    font-size: 32px;
    width: 385px;
    height: 64px;
    background-color: #F2E205;
    padding: 5px 10px 5px 10px;
    border-radius: 7px;
    border: none;
}


.titulo-subtitulo {
    color: #f7fcff;
    width: 100%;
    height: 100%;
    grid-column: 1/2;
}


.seccion-1 {
    color: #f7fcff;
    background-color: #172026;
}

.bullets-1 {
    color: #f7fcff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}



.titulo-bullets-1 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.bullet-hijo {
   color: #f7fcff;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 150px;
   height: 250px;
}

.bullet-hijo img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}


.img-contenido {
    color: #f7fcff;
    background-color: #172026;
    display: flex;
    flex-direction: row;
}

.imagen {
    width: 50%;
    height: 402px;
    background-image: url(img/img-1.png);   
    background-size: 785px 402px; 
    background-repeat: no-repeat;
    background-position: left;
}
.contenido {
    background-color: #172026;
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
}


.bullets-2-form {
    padding-left: 30px;
    padding-right: 30px;
    color: #f7fcff;
    background-color: #172026;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
}


.bullets-pasos {
    display: flex;
    flex-direction: row;
    align-content: end;
    gap : 20px;
}
.bul2{
    width: 100%;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.bul2 h1 {
    padding: 0;
    margin: 0;
}
.bullets-pasos img{
    width: 50px;
    height: auto;
}
.form-contenedor {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
textarea {
    background-color: #F2E20550;
    color: #f7fcff;
    padding: 10px;
    outline: none;
    border-radius: 4px;
    resize: none;
}

form {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input {
    background-color: #F2E20550;
    color: #f7fcff;
    padding: 10px;
    outline: none;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #F2E205;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.feedback {
    color: #f7fcff;
    background-color: #172026;
    border: #F2E205 2px solid;
    padding: 20px;
    margin-top: 20px;    
}
.oculto {
    display: none;
}


.cont-contador-padre{
    color: #f7fcff;
    background-color: #172026;
    height: 150px;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: center;
   
}
.cont-contador {
    border-top: #F2E205 2px solid;
    border-bottom: #F2E205 2px solid;
    background-color: #F2E20550;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.cont-contador img{
    padding: 20px;
    width: 86px;
    height: 96px;
}
.contador {
    border-top: #F2E205 2px solid;
    border-bottom: #F2E205 2px solid;
    background-color: #F2E20550;
    display: flex;
    align-items: center;
}

.footer-grilla {
    color: #f7fcff;
    background-color: #172026;
    padding: 10px 30px 10px 30px;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr  1fr;
    align-items: center;
}
.cont-footer {
    display: flex;
    flex-direction: column;
}
.redes {
    display: flex;
    
}
.patrocinadores {
    
    background-color: #172026;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.patrocinadores img{
    margin-bottom: 20px;
    box-sizing: border-box;
    height: 50px;
    width: auto;
}

@media {max-width: ;}